<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.css" media="screen,projection">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/materialize.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    <script type="text/javascript" src="javascripts/manage.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  <form>
    <div class="input-field"><i class="material-icons prefix">perm_identity</i> 
      <input id="rUser" class="validate" id="icon_prefix" type="text" style="width:20%"> 
      <label for="icon_prefix">Nickname</label>
      <a id="rimuovi" class="waves-effect waves-light btn">Rimuovi</a>
    </div>
  </form>
  <table id="tabUtenti" class="striped">
    <thead>
      <tr>
        <th>Nome utente</th>
        <th>Password utente</th>
        <th>Voto utente</th>
      </tr>
    </thead>
    </table>
  </body>
</html>
