<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.css" media="screen,projection">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/materialize.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="background-color:#009F82">
  <div style="background-color:#008250">
    <h3 class="center-align" style="color:white">Andamento</h3>
    <ul id="slide-out" class="side-nav">
      <li><div class="userView">
        <div class="background">
          <img src="images/montagne.png">
        </div>
        <a href="#!user"><img class="circle" src="images/omo.png"></a>
        <a href="#!name"><span class="white-text name">Lodo sfigà</span></a>
      </div></li>
      <li><a href="/voti_pubblici" class="waves-effect">Chi ha votato</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="/login">Logout</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="medium material-icons" style="color:#00C196">menu</i></a>
  </div>
  <div class="row" style="margin-top:10%">
    <div class="col s1" style="background-color:red;color:white;width:200px;height:200px;border: 2ps solid white;border-radius: 100px; padding: 10px 15px">
      <p class="center-align" style="margin-top:30%;font-size:50px">50%</p>
    </div>
    <div class="col s1" style="margin-left:10px;background-color:blue;color:white;width:200px;height:200px;border: 2ps solid white;border-radius: 100px; padding: 10px 15px">
      <p class="center-align" style="margin-top:30%;font-size:50px">50%</p>
    </div>
    <div class="col s1" style="margin-left:10px;background-color:green;color:white;width:200px;height:200px;border: 2ps solid white;border-radius: 100px; padding: 10px 15px">
      <p class="center-align" style="margin-top:30%;font-size:50px">50%</p>
    </div>
  </div>
  </body>
